.row {
  margin-left: 20px;
  color: #fff;
}

.row h1 {
  font-size: 1.4rem;
  margin-left: 20px;
  margin-bottom: 10px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none; /* hide scrollbar */
}

/* Default poster size */
.row_poster {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 4px;
}

/* Large poster version */
.row_posterLarge {
  max-height: 320px;
}

/* Hover effect */
.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row_posterLarge:hover {
  transform: scale(1.1);
}
